{% extends 'encyclopedia/layout.html' %}

{% block title %}
    {{title}}
{% endblock title %}
{% block body %}
    <h4>Text Editor <spam>(Markdown Only)</spam></h4>
    <form action="{% url 'save_entry' %}" method="POST"> {% csrf_token %}
        <div class="title-save">
            <input class="title" type="hidden" name="title" id="" value={{title}}>
            <input class="button-save "type="submit" value="Save">
        </div>
        
        <textarea class="textarea" name="markdown" required id="" cols="30" rows="10">{{entry}}</textarea>
    </form>
{% endblock body %}